.game_root {
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
}

.game_table {
    position: relative;
    margin: 50px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
}

.goals {
    text-align: center;
    font-size: 100px;
}

.goal_red {
    color: red;
}

.goal_black {
    color: black;
    -webkit-text-stroke-width: 1.3px;
    -webkit-text-stroke-color: white;
}

.game_title {
    display: block;
    font-size: 24px;
    position: absolute;
    top: -40px;
}

.player_button {
    position: absolute;
    display: block;
    width: 100px;
    height: 100px;
    font-size: 50px;
    background-color: black;
    border: 2px solid white;
    border-radius: 50%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.role_name {
    position: absolute;
    font-family: monospace;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: -48px;
    background-color: black;
    padding-top: 5px;
    padding-bottom: 5px;
}

.role-char {
    display: block;
    margin: 0;
    padding-bottom: 5px;
    font-family: monospace;
    font-size: 70px;
}

img.ava {
    width: 100%;
    height: 100%;
}

.player_button.red {
    background-color: red;
    right: -50px;
}

.player_button.black {
    left: -50px;
}

.player_button.attack.red {
    top: 50px;
}

.player_button.defense.red {
    bottom: 50px;
}

.player_button.attack.black {
    bottom: 50px;
}

.player_button.defense.black {
    top: 50px;
}

.timer {
    margin-top: 65px;
    margin-bottom: 60px;
    font-size: 30px;
    color: white;
}

.ava_role_attack {
    width: 70%;
    top: 30px;
    position: absolute;
}

.ava_role_def {
    width: 40%;
    position: absolute;
    top: 20px;
}

@media all and (orientation: landscape), all and (max-height: 480px) {
    .goals {
        font-size: 64px;
    }
    .timer {
        margin: 20px 0px;
        font-size: 30px;
        color: white;
    }
    .player_button.attack.red {
        top: -50px;
        left: unset;
        right: 50px;
    }
    .player_button.defense.red {
        bottom: unset;
        top: -50px;
        left: 50px;
    }
    .player_button.attack.black {
        left: 50px;
        bottom: -50px;
    }
    .player_button.defense.black {
        top: unset;
        left: unset;
        bottom: -50px;
        right: 50px;
    }
    .player_button.attack.black span.role_name {
        bottom: unset;
        top: -35px;
    }
    .player_button.player_button.defense.black span.role_name {
        bottom: unset;
        top: -35px;
    }
}
