.game_root {
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
}

.game_table {
    position: relative;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    margin-top: 0px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
}

.game_title {
    height: 20%;
    font-family: monospace;
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.goals {
    font-family: monospace;
    font-size: 130px;
}

.player_button {
    position: absolute;
    display: block;
    width: 100px;
    height: 100px;
    font-family: monospace;
    font-size: 50px;
    background-color: black;
    border: 2px solid white;
    border-radius: 50%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

img.ava {
    width: 95px;
    height: 95px;
}

.player_button.red {
    left: -50px;
}

.player_button.black {
    right: -50px;
}

.player_button.attack.red {
    top: 50px;
}

.player_button.defense.red {
    bottom: 50px;
}

.player_button.attack.black {
    bottom: 50px;
}
.player_button.defense.black {
    top: 50px;
}