.game-root {
  text-align: center;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.field {
  height: 100%;
  display: flex;
  width: 100%;
}

.field.red {
  background-color: red;
}

.field.black {
  background-color: black;
}

.game-stats {
  position: absolute;
  color: white;
  mix-blend-mode: difference;
  display: grid;
  width: 100%;
  height: 60%;
}

.game-count {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 95px;
  margin-bottom: 20px;
}

.game-role {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 70px;
  padding: 0;
  margin: 0;
}

.symbol {
  display: block;
  width: 100%;
  margin: 0;
  padding: 20px;
}



