.leaderboard {
  display: flex;
  justify-content: center;
  text-align: center;
}

table { 
  border-collapse: collapse;
  display: block;
  overflow-x: auto;
  white-space: nowrap;
}

thead {
  border-bottom: 2px solid whitesmoke;
}
