.App {
  text-align: center;
  
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    color: white;

}

.logout {
  position: fixed;
  bottom: 2px;
  left: 2px;
  background-color: black;
  border-color: black;
  color: white;
  font-family: monospace;
}

.stopgame {
  position: fixed;
  bottom: 2px;
  right: 2px;
  background-color: black;
  border-color: black;
  color: white;
  font-family: monospace;
}

.auth_togglerWrapper {
  margin: 20px auto;
  width: 134px;
  display: flex;

  justify-content: space-between;
  align-items: center;
}

.auth_toggler {
  cursor: pointer;
}
